mixin horizontalClubCard(clubInfo)
    a.w-full.bg-white(class=`${onMap ? 'rounded-t-2xl' : 'rounded-xl'}` href="pages/courts/singleClub.html").shadow-md.p-4.flex.flex-col.justify-between.border
        .flex.gap-3.items-center 
            img(src=`${clubInfo.photo}`, alt="").size-24.object-cover.rounded-md
            div.w-full
                .flex.items-center.mb-2
                    if clubInfo.logo
                        img.h-5.w-5.mr-2.rounded-sm(src=clubInfo.logo, alt="Logo")
                    h2.text-base.font-semibold #{clubInfo.name}
                div.flex.items-center.text-sm.mb-2
                    span.font-semibold= clubInfo.stars
                    img.h-4.ml-1(src="img/star.svg")
                    span.text-lab-black-50.ml-2= clubInfo.reviews + ' отзывов'
                .flex.items-center.mb-1.gap-3.flex-wrap
                    if clubInfo.address
                        div.flex
                            img.opacity-50.saturate-50.mr-1(src="img/location-icon.svg")
                            span.text-lab-black-50.text-sm.h-4= clubInfo.address
                    else if clubInfo.metro
                        div.flex.items-center
                            div(class=`bg-${clubInfo.metroColor}`).size-2.rounded-full.mr-1.shrink-0
                            span(class=`text-lab-black-50 leading-none text-sm`)= clubInfo.metro
                    div.flex.items-center
                        img(src="img/location-arrow.svg").size-4.mr-1
                        span.text-sm.leading-none.text-lab-black-50 #{clubInfo.distance} км
                 
                    
                .flex.flex-wrap.items-center.gap-x-4
                    div
                        img.inline.size-4.mr-1.align-middle.saturate-50.opacity-75(src="img/court.svg")
                        span.inline.text-sm.align-middle.leading-none #{clubInfo.courts}
                    div.inline
                        each service in clubInfo.services
                            img.inline.h-4.w-4.ml-1.saturate-50.opacity-75(src=`img/${service}.svg`, alt=service)
                    span.text-sm.text-lab-color ₽₽
                        span.text-lab-black-30 ₽