mixin tabBar(activeTab)
  nav.bg-white.inset-x-0.fixed.bottom-0.border-t.z-10.pb-safe
    div.flex.justify-between
      - var tabs = [{"href":"pages/tournaments/tournaments.html","icon":"img/tabbar/tournaments.svg","label":"Турниры"}, {"href":"pages/trainings/trainings.html","icon":"img/tabbar/trainings.svg","label":"Тренировки"}, {"href":"pages/courts/courts.html","icon":"img/tabbar/courts.svg","label":"Корты"}, {"href":"pages/players/players.html","icon":"img/tabbar/players.svg","label":"Игроки"}, {"href":"pages/aroundgame/aroundGame.html","icon":"img/tabbar/around-game.svg","label":"Вокруг игры"}, {"href":"pages/market/market.html","icon":"img/tabbar/market.svg","label":"Маркет"}]
      each tab in tabs
        - var iconPath = tab.label === activeTab ? tab.icon.replace('.svg', '-active.svg') : tab.icon
        a(class="flex-1 text-center py-1 w-1/6 leading-4 text-gray-500" href=tab.href)
          img.mx-auto.h-7.w-7(src=iconPath, alt=tab.label class=`${tab.label === activeTab ? '' : 'opacity-80'}`)
          span(class=`text-[10px] tracking-tighter text-nowrap ${tab.label === activeTab ? ' font-bold ' : ''}`)= tab.label