mixin trainerCard(avatarColor, fullName, gameRating, coachRating, reviewsCount, pricePerHour, superTrainer)
  .flex.flex-col.p-3.items-center.gap-3.rounded-md.relative(class=`${superTrainer ? ' bg-gradient-to-br from-[#6686B0] via-[#253C59] via-[#375B8B] to-[#243956] min-w-32' : ''}`)
    - const initials = fullName.split(' ').map(name => name[0]).join('')
    if superTrainer     
        .absolute.px-1.py-1.top-0.right-0.bg-lab-color.shadow-md.rounded-bl.rounded-tr-md
            .text-white.text-xxs.font-semibold.leading-none.no-wrap Супер-тренер

    +avatar(avatarColor, initials, 64, '', 'тренер')
    +userRating(gameRating, true, '-mt-6 shadow-sm')
    span.text-center.text-sm.font-semibold.min-w-24(class=`${superTrainer ? ' text-white ' : ''}`) #{fullName}
    .flex.items-center.gap-1.mb-auto
      img(src="img/rating-star-aqua.svg").h-4.opacity-75
      span.text-xs.font-semibold.mr-2(class=`${superTrainer ? ' text-white ' : ''}`) #{coachRating}
      img(src="img/comment-outlined.svg").h-4.opacity-60.shadow-md
      span.text-xs.font-semibold(class=`${superTrainer ? ' text-white ' : ''}`) #{reviewsCount}
    span.px-2.py-1.bg-lab-light-yellow.text-xs.rounded.font-bold от #{pricePerHour}₽/ч