mixin floatingSelect(title, width, id, extraClass, error)
  div.relative.mb-6
    select(id='select' class=`block px-4 pt-2.5 pb-1.5 w-full text-sm bg-white border ${width} rounded-lg appearance-none ${extraClass} ${error ? 'border-lab-red' : 'border-lab-black-30'} focus:outline-none focus:ring-0 focus:border-lab-color peer`)
      option(value="" disabled selected hidden)= title
      option Вариант 1
      option Вариант 2
      option Вариант 3
    label(for='select' class="absolute text-sm text-lab-black-50 bg-white px-2 duration-300 transform -translate-y-5 scale-75 top-2.5 z-10 origin-[0] left-2.5 peer-placeholder-shown:scale-100 peer-placeholder-shown:translate-y-0 peer-focus:text-lab-color peer-focus:scale-75 peer-focus:-translate-y-5")
      = title
    if error 
      div.text-xs.text-lab-red.text-right.w-full.mt-1.h-3= error